<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @order.name %>,</h1>
    <p>
      Thank you for your recent order from Online Jewellery Store
    </p>
    <p>
      You ordered the following items:
    </p>
    <p><%= render @order.line_items %></p>
  </body>
</html>
