<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear <%= @order.name %>,
    <p>
      Thank you for your recent order from Online Jewellery Store
    </p>
    <p>
      You ordered the following items:
    </p>
    <p><%= render @order.line_items %></p>
    <p>Do visit again,</p>
    <b>Online Jewellery Store</b>
  </body>
</html>
